<?xml version="1.0"?>

<launch>
    <rosparam command="load" file="$(find control_px4)/params/state_machine.yaml"/>
    <node name="state_machine" pkg="control_px4" type="state_machine.py" output="screen">
        <remap from="relPos" to="/relPos_stripped"/>
        <remap from="odom" to="/estimate"/>
        <remap from="base_heading" to="/base_heading"/>
    </node>
    <rosparam command="load" file="$(find control_px4)/params/controller.yaml"/>
    <node name="velocity_controller" pkg="control_px4" type="vel_controller.py" output="screen">
        <remap from="odom" to="/estimate"/>
        <remap from="hlc" to="/hlc"/>
        <remap from="base_vel" to="base_velocity"/>
        <remap from="begin_landing_routine" to="/begin_landing_routine"/>
    </node>
    <node name="control_px4" pkg="control_px4" type="control_px4.py" output="screen">
        <remap from="velCmd" to="/vel_cmd"/>
        <remap from="position_measurement" to="/pose_update"/>
    </node>
</launch>