<?xml version="1.0"?>

<launch>

  <arg name="bag_filename"       value="boat_m2u"/>
  <arg name="target_name"         value="boat_landing_platform"/>
  <!--arg name="is_serial_port" default="/dev/ttyUSB0"/-->
 
  <node name="node" pkg="optitrack_vrpn" type="node" output="screen"/>

  <group ns="m2u">
      <rosparam command="load" file="$(find control_px4)/params/mocap2ublox.yaml"/>
      <node name="mocap2ublox" pkg="control_px4" type="mocap2ublox.py" output="screen">
          <remap from="rover_mocap" to="/rhodey_ned"/>
	  <remap from="base_mocap" to="/boat_landing_platform_ned"/>
      </node>
  </group>

  <group ns="base">
    <!-- Inertial Sense Node -->
    <!--rosparam subst_value="True">
      inertial_sense: { port: "/dev/ttyUSB0",
                            baud: 921600,
                            navigation_dt_ms: 10,
                            stream_INS: false,
                            stream_IMU: true,
                            stream_GPS: false,
                            stream_GPS_info: false,
                            stream_baro: true,
                            stream_mag: true,
                            stream_preint_IMU: false,
                            inclination: 1.14878541071,
                            declination: 0.20007290992,
                            dynamic_model: 5,
                            INS_rpy: [1.5708, 0 0],
                            INS_xyz: [1, 0, 0],
                            GPS_ant_xyz: [1, 1, 1],
                            GPS_ref_lla: [40.25, -111.67, 1556.59],
                            serial1_baud_rate: 115200,
                            NMEA_rate: 200,
                            NMEA_configuration: 0x0F,
                            NMEA_ports: 0x02
                          }

      </rosparam-->

    <include file="$(find boat_estimator)/launch/standard.launch">
        <arg name="boat_imu"            value="/base/imu"/>
        <arg name="base_2_rover_relPos" value="/m2u/rover/RelPos"/>
        <arg name="rover_PosVelEcef"    value="/m2u/rover/PosVelEcef"/>
        <arg name="boat_PosVelEcef"     value="/m2u//base/PosVelEcef"/>
        <arg name="compass_relPos"      value="/m2u/base/compass/RelPos"/>
        <arg name="params_file"         value="params"/>
    </include>
  </group>
  <node pkg="rosbag" type="record" name="record" output="screen" args="-O ../data/mocap/$(arg bag_filename).bag --all"/>
</launch>
