<?xml version="1.0"?>
<!--Mocap to ublox-->
<launch>
    <arg name="bag_filename"            value="m2u_w_boat"/>
    <arg name="rover_mocap"             value="/rhodey_ned"/>
    <arg name="base_mocap"              value="/boat_landing_platform_ned"/>
    <arg name="posVelEcef"              value="/m2u/rover/PosVelEcef"/>
    <arg name="base2Rover_relPos"       value="/m2u/rover/RelPos"/>
    <arg name="base_posVelEcef"         value="/m2u/base/PosVelEcef"/>
    <arg name="compass_relPos"          value="/m2u/base/compass/RelPos"/>
    <arg name="base_estimator_params"   value="params"/>
    <arg name="position_measurement"    value="/rhodey_ned"/>

    <node name="node" pkg="optitrack_vrpn" type="node" output="screen"/>
    <group ns="m2u">
        <rosparam command="load" file="$(find control_px4)/params/mocap2ublox.yaml"/>
        <node name="mocap2ublox" pkg="control_px4" type="mocap2ublox.py" output="screen">
            <remap from="rover_mocap" to="$(arg rover_mocap)"/>
            <remap from="base_mocap" to="$(arg base_mocap)"/>
        </node>
    </group>

    <include file="$(find boat_estimator)/launch/standard.launch">
        <arg name="boat_imu"            value="/base/imu"/>
        <arg name="base_2_rover_relPos" value="$(arg base2Rover_relPos)"/>
        <arg name="rover_PosVelEcef"    value="$(arg posVelEcef)"/>
        <arg name="boat_PosVelEcef"     value="$(arg base_posVelEcef)"/>
        <arg name="compass_relPos"      value="$(arg compass_relPos)"/>
        <arg name="params_file"         value="params"/>
    </include>

    <include file="$(find control_px4)/launch/include/control_px4.launch">
        <arg name="position_measurement"    value="$(arg position_measurement)"/>
    </include>
    <node pkg="rosbag" type="record" name="record" output="screen" args="-O ../data/mocap/$(arg bag_filename).bag --all"/>
</launch>
