<?xml version="1.0"?>

<launch>
    <arg name="bag_filename"    value="p2u"/>
    <arg name="compass_relPos"      value="p2u/boat/compass/RelPos"/>

    <node name="listener" pkg="listener" type="listener_node" output="screen"/>
    <group ns="p2u">
        <rosparam command="load" file="$(find control_px4)/params/px4_2ublox.yaml"/>
        <node name="px4_2ublox" pkg="control_px4" type="px4_2ublox.py" output="screen">
            <!-- <remap from="/rover_pose" to="/rover_pose"/>
            <remap from="/base_pose" to="/base_pose"/> -->
        </node>
    </group>
    <node name="nav" pkg="control_px4" type="nav.py" output="screen">
        <remap from="base2Rover_relPos" to="/p2u/boat/RelPos"/>
        <remap from="posVelEcef" to="/p2u/rover/PosVelEcef"/>
        <remap from="base_posVelEcef" to="/p2u/boat/PosVelEcef"/>
        <remap from="compass_relPos" to="$(arg compass_relPos)"/>
        <remap from="rover_pose_4_heading" to="/rover_pose"/>
    </node>
    <include file="$(find control_px4)/launch/include/control_px4.launch"/>
    <node pkg="rosbag" type="record" name="record" output="screen" args="-O ../data/boatLanding_sim/$(arg bag_filename).bag --all"/>
</launch>