<?xml version="1.0"?>

<launch>
    <node name="listener" pkg="listener" type="listener_node" output="screen"/>
    <group ns="p2u">
        <rosparam command="load" file="$(find control_px4)/params/px4_2ublox.yaml"/>
        <node name="px4_2ublox" pkg="control_px4" type="px4_2ublox.py" output="screen">
            <!-- <remap from="/rover_pose" to="/rover_pose"/>
            <remap from="/base_pose" to="/base_pose"/> -->
        </node>
    </group>
    <!-- Not using nav node until we need to-->
    <!-- <node name="nav" pkg="control_px4" type="nav.py" output="screen">
    </node> -->
    <node name="state_machine" pkg="control_px4" type="state_machine.py" output="screen">
    </node>
    <node name="velocity_controller" pkg="control_px4" type="vel_controller.py" output="screen">
    </node>
    <node name="control_px4" pkg="control_px4" type="control_px4.py" output="screen">
    </node>
</launch>